.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 60px;
  max-width: 300px;
  
  border: 1px solid $c-black;
  background-color: $c-black;
  
  @extend %button-text;

  color: $c-white;

  z-index: 1;
  position: relative;
  
  overflow: hidden;

  transition: color $t-fast,
    background-color $t-fast,
    transform $t-fast;

  &:hover {
    color: $c-black;
    background-color: $c-white;
  }
  
  &::after {
    content: "";
    display: block;
    width: 120%;
    padding-bottom: 120%;
    background-color: $c-green;

    border-radius: 50%;
    
    opacity: 0.7;
    
    position: absolute;
    z-index: -1;
    
    transform: scale(0);
    transition: transform $t-slow;
  }

  &:active {
    transform: scale(0.96);
  }
  
  &:active::after {
    animation: 100ms linear click;
  }

  @keyframes click {
    from {
      transform: scale(0);
    }
    
    to {
      transform: scale(1);
    }
  }
}
